<nav>
    <div class="nav-wrapper light-blue darken-3">
        <a href="#!" class="brand-logo">Lancer</a>
        <a href="#"  class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <!--<li>
                <a href="/register">Sign Up</a>
            </li>-->
            <li>
                <a href="/job/post-job">Post Job</a>
            </li>
            <li>
                <a href="/logout">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="/register">Sign Up</a>
    </li>
    <li>
        <a href="/login">Login </a>
    </li>
</ul>