<nav>
    <div class="wrapper">
        <a href="/" class="brand-logo"> Lancer </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/register">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li>
        <a href="/register">Sign Up</a>
    </li>
    <li>
        <a href="/login">Login </a>
    </li>
</ul>