<section>
    <a href="/job/" + <%= job._id %>>
        <div class="card-panel hoverable">
            <div class="row">
                <div  class="col m2">
                    
                </div>
                <div class="col m8">
                <div>
                <span class="card-title"><%= job.title %></span>
            </div>
            <div>
                <p>
                    <%= job.description%>
                </p>
            </div>
                </div>
                <div class="col m2">
                    
                </div>
            </div>
            <div class="row">
                <div class = "card-action">
                <% job.skillNeeded.forEach(function(skill){ %>
                    <a href=""><%= skill %></a>
                <% }); %>
                </div>
            </div>
        </div>
    </a>
</section>