<section>
    <a href="/job/" + <%= job._id %>>
        <div class=" card job-item">
        <div class="card-content">
            <div class="job-header">
                <span class="card-title"><%= job.title %></span>
            </div>
            <div class="description">
                <p>
                    <%= job.description%>
                </p>
            </div>
            </div>
        </div>
    </a>

</section>