<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/Links %>
        <link rel="stylesheet" href="/stylesheets/style.css">
        <script src="/javascripts/controllers/homeController.js"></script>
        <title>Lancer</title>
</head>

<body>
    <%- include partials/Header %>
        <!--Hero Image Section-->
        <section class="hero">
            <div class="banner-text">
                <h3>Lancer</h3>
                <p class="light grey-text text-lighten-3">Find the perfect knight to get the job done</p>
            </div>
        </section>

        <section class="quote">
            <div class="blue-grey darken-4 light grey-text text-lighten-3">
                <p class="flow-text">"Quis application est scriptum in JavaScript potest, eventually te in JavaScript potest."</p>
            </div>
        </section>

        <section class="highlight">
            <div class="row">
                <div class="col m6" id="knight">
                    <img class="responsive-img " src="/images/hire.png" alt="This shit better work" />
                </div>
                <div class="col m6">
                    <div class="description">
                        <h2>Hiring process</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt omnis impedit voluptatibus,
                            recusandae ab pariatur harum aperiam quis adipisci?</p>
                    </div>
                </div>
            </div>
        </section>


        <section class="highlight">
            <div class="row">
                <div class="col s12 m6">
                    <div class="description container">
                        <h2>Contract</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt omnis impedit voluptatibus,
                            recusandae ab pariatur harum aperiam quis adipisci?</p>
                    </div>
                </div>
                <div class="col s12 m6 container">

                    <img class="responsive-img" src="/images/contract.png" />
                </div>
            </div>
        </section>

        <section class="highlight">
            <div class="row">
                <div class="col m6" id="knight">
                    <img class="responsive-img " src="/images/chat.png" alt="This shit better work" />
                </div>
                <div class="col m6">
                    <div class="description">
                        <h2>Communication</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt omnis impedit voluptatibus,
                            recusandae ab pariatur harum aperiam quis adipisci?</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="video-chat">
            <div class="row">
                <div class="col m6">
                    <img class="peer" src="/images/peer1.png" alt="">
                </div>
                <div class="col m6">
                    <img class="peer" src="/images/peer2.png" alt="">
                </div>
            </div>
            <div class="chat-description">
                <h2>Video Chat</h2>
                <p>Praesentium soluta enim est et voluptate id in quidem. Eveniet quod pariatur error exercitationem cupiditate
                    voluptatem suscipit porro. Sint velit enim eaque dicta at libero qui mollitia iusto. Delectus commodi
                    quia amet et minima quis in.</p>
            </div>
            <section>

                <section class="highlight" id="categories">
                    <div class="container">
                        <div class="row">
                            <div class="col m4">
                                <div class="card-panel">
                                    <h4 class="title">Graphic Design</h4>
                                    <img class="responsive-img" src="https://image.flaticon.com/icons/svg/751/751418.svg" />
                                </div>
                            </div>
                            <div class="col m4">
                                <div class="card-panel">
                                    <h4 class="title">Web Developement</h4>
                                    <img class="responsive-img" src="https://image.flaticon.com/icons/svg/272/272403.svg" />
                                </div>
                            </div>
                            <div class="col m4">
                                <div class="card-panel">
                                    <h4 class="title">Mobile App</h4>
                                    <img class="responsive-img" src="https://image.flaticon.com/icons/svg/781/781691.svg" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col m4">
                                <div class="card-panel">
                                    <h4 class="title">Game Development</h4>
                                    <img class="responsive-img" src="https://image.flaticon.com/icons/svg/852/852063.svg" />
                                </div>
                            </div>
                            <div class="col m4">
                                <div class="card-panel">
                                    <h4 class="title">Data Science</h4>
                                    <img class="responsive-img" src="https://image.flaticon.com/icons/svg/847/847277.svg" />
                                </div>
                            </div>
                            <div class="col m4">
                                <div class="card-panel">
                                    <h4 class="title">Accounting</h4>
                                    <img class="responsive-img" src="https://image.flaticon.com/icons/svg/154/154923.svg" />
                                </div>
                            </div>


                        </div>
                    </div>
                </section>
                <% include partials/Footer  %>

</body>

</html>