<!DOCTYPE html>
<html lang="en">
<head>
    <%- include partials/Links %>
    <script>
    $(document).ready(function(){
        $('.sidenav').sidenav();
      });
    </script>
    <title>Lancer</title>
</head>
<body>
    <%- include partials/Header %>
        <!--Hero Image Section-->
                <section>
                    <div class="banner">
                        <img src="/images/hero-image.png" alt="Call to Action">
                        <div class="banner-text">
                            <h3>Lancer</h3>
                            <h5 class="light grey-text text-lighten-3">Find the perfect knight to get the job done</h5>
                        </div>
                    </div>
                </section>

                <section id ="quote" className="highlight">
                    <blockquote>
                        Quis application est scriptum in JavaScript potest, eventually te in JavaScript potest.
                    </blockquote>
                </section>

                <section className="highlight">
                    <div className="container">
                        <div className="row">
                            <div className="col m6" id="knight">
                                <img className="responsive-img infographic" src="/images/hire.png"
                                    alt="This shit better work" />
                            </div>
                            <div className="col m6">
                                <div className="description">
                                    <h2>Hiring process</h2>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt omnis impedit
                                        voluptatibus, recusandae ab pariatur harum aperiam quis adipisci?</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                <section className="highlight">
                    <div className="container">
                        <div className="row">
                            <div className="col s12 m6">
                                <div className="description">
                                    <h2>Contract</h2>
                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima deserunt omnis impedit
                                        voluptatibus, recusandae ab pariatur harum aperiam quis adipisci?</p>
                                </div>
                            </div>
                            <div className="col s12 m6">

                                <img className="responsive-img infographic" src="/images/contract.png"/>
                            </div>
                        </div>
                    </div>
                </section>


                <section className="highlight">
                    <div className="container">
                        <div className="row">
                            <div className="col m4">
                                <div className="box">
                                    <h3 className="title">Graphic Design</h3>
                                    <img src="https://image.flaticon.com/icons/svg/751/751418.svg" />
                                </div>
                            </div>
                            <div className="col m4">
                                <div className="box">
                                    <h3 className="title">Web Developement</h3>
                                    <img src="https://image.flaticon.com/icons/svg/272/272403.svg" />
                                </div>
                            </div>
                            <div className="col m4">
                                <div className="box">
                                    <h3 className="title">Mobile App</h3>
                                    <img src="https://image.flaticon.com/icons/svg/781/781691.svg" />
                                </div>
                            </div>
                        </div>

                        <div className="row">
                            <div className="col m4">
                                <div className="box">
                                    <h3 className="title">Game Development</h3>
                                    <img src="https://image.flaticon.com/icons/svg/852/852063.svg" />
                                </div>
                            </div>
                            <div className="col m4">
                                <div className="box">
                                    <h3 className="title">Data Science</h3>
                                    <img src="https://image.flaticon.com/icons/svg/847/847277.svg" />
                                </div>
                            </div>
                            <div className="col m4">
                                <div className="box">
                                    <h3 className="title">Accounting</h3>
                                    <img src="https://image.flaticon.com/icons/svg/154/154923.svg" />
                                </div>
                            </div>


                        </div>
                    </div>
                </section>
        <% include partials/Footer  %>

</body>

</html>