<html>
    <head>
        <% include partials/Links %>
    </head>

    <body>
        <%- include partials/Header %>
        <div class="container">
            <% jobs.forEach(function(job){ %>
                <%- include('partials/JobList', {job: job}); %>
            <%});%>
        </div>
        <%- include partials/Footer %>
    </body>
</html>