<!DOCTYPE html>
<html lang="en">

<head>
  <%- include partials/Links %>

    <title>Lancer</title>
</head>

<body>
  <%- include partials/Header %>
    <div class="container">
      <div class="row">
        <div class="card">

          <div class="card-action light-blue darken-3 white-text">
            <h3>Login</h3>
          </div>
          <form>
            <div class="card-content">
              <div class="form-field">
                <label for="email"> Email </label>
                <input type="email" name="email">
              </div>

              <br>

              <div class="form-field">
                <label for="password"> Password </label>
                <input type="password" name="email">
              </div>

              <br>

              <div class="form-field">
                <button class="btn-large waves-effect waves-dark light-blue darken-3 white-text" type="submit">Login</button>
              </div>

          </form>
          </div>
        </div>
      </div>
    </div>
    <%- include partials/Footer %>
</body>

</html>