<!DOCTYPE html>
<html lang="en">

<head>
  <%- include partials/Links %>

    <title>Lancer</title>
</head>

<body>
  <%- include partials/Header %>
    <div class="container">
      <div class="row">
        <div class="card">

          <div class="card-action light-blue darken-3 white-text">
            <h3>Login</h3>
          </div>
          <form action="/user/login" method="POST">
            <div class="card-content">
              <div class="row">
                <div class="col s12">
                  <div class="form-field">
                    <input type="email" name="email" placeholder="Email">
                  </div>
                </div>
              </div>
              <br>


              <div class="row">
                <div class="col s12">
                  <div class="form-field">
                    <input type="password" name="password" placeholder="Password">
                  </div>
                </div>
              </div>

              <br>

              <div class="form-field">
                <input class="btn-large waves-effect waves-dark light-blue darken-3 white-text" type="submit" value="Submit">
              </div>
          </form>
          <%- messages('message', locals) %>
          </div>
        </div>
      </div>
    </div>
    <%- include partials/Footer %>
</body>

</html>