<!DOCTYPE HTML>
<html>
    <%- include partials/Head%>
    <body>
        <%- include partials/Header%>
        <div class="container">
            <form method="POST" action="/">
                <div class="row">
                    <div class="col m6">
                        <input type="text" name="firstName" value="" placeholder="First Name">
                    </div>
                    <div class="col m6">
                        <input type="text" name="lastName" value="" placeholder="Last Name">
                    </div>
                </div>
            </form>
        </div>
        <%- include partials/Footer%>
    </body>
</html>