<!DOCTYPE HTML>
<html>

<head>
    <%- include partials/Links%>
        <title>
            Post Job
        </title>
</head>


<body>
    <%- include partials/Header%>
        <div class="container">
            <div class="card">
                <div class="card-content">
                    <form method="POST" action="/job/post-job">
                        <div class="col s12">
                            <input type="text" name="title" placeholder="Title">
                        </div>
                        <div class="col m6">
                            <input type="text" name="lastName" value="" placeholder="Last Name">
                        </div>
                        <div>
                            <textarea rows="20" cols="40" name="description"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <%- include partials/Footer%>
</body>

</html>