<!DOCTYPE html>
<html lang="en">

<head>
    <%- include partials/Links %>

        <title>Lancer</title>
</head>

<body>
    <%- include partials/Header%>
        <div class="container">
            <div class="card">

                <div class="card-action light-blue darken-3 white-text">
                    <h3>Login</h3>
                </div>

                <div class="card-content">
                    <form action="/register" method="POST">
                    <div class="row">
                            <div class="col s6">
                                <div class="form-field">
                                    <input type="text" name="firstName" placeholder="First Name">
                                </div>
                            </div>
                            <div class="col s6">
                                <div class="form-field">
                                    <input type="text" name="lastName" placeholder="Last Name">
                                </div>
                            </div>
                        </div>
                    <div class="row">
                            <div class="col s12">
                                <div class="form-field">
                                    <input type="email" name="email" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="row">
                            <div class="col s12">
                                <div class="form-field">
                                    <input type="password" name="password" placeholder="Password">
                                </div>
                            </div>
                        </div>
                        <br>

                        <div class="form-field">
                            <input class="btn-large waves-effect waves-dark light-blue darken-3 white-text" type="submit" value="Submit">
                        </div>
                        <%- messages('message', locals) %>
                    </form>


                </div>
            </div>
     <%- include partials/Footer %>
</body>

</html>