body{
    font: Arial, Helvetica, sans-serif;
    height: 100%;
}

nav{
    position: fixed;
    background: rgba(0, 0, 0, 0.2);
    padding: 0px 20px;
}

nav li a:hover{
    background: blue;
}

/*Start of Banner*/
section.hero{
    background-image: url('/images/hero-image.png');
    background-size: cover;
    width: 100%;
    height: 800px;
}

/*div.banner img{
    width: 100%;
    max-height: 650px;
    min-height: 450px;
}
*/
div.banner-text{
    top: 25%;
    font-family: sans-serif;
    color: #ffffff;
    position: absolute;
    text-align: left;
    margin-left: 5%;
}
/*End of Banner*/

.quote{
    text-align: center;
    height: 100%;
}
.quote p{

    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;
    text-align: center;

}
.infographic{
    max-height: 500px;
    width: 100%;
    left:  75px;

}

.description{
    right: 75px;
}

.highlight{
    padding: 25px 0px 25px 0px;
}

section.highlight:nth-child(even){
    background-color: rgb(244, 235, 247);
}


#categories{

}

.title{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.peer{
    width: 100%;
}



